@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

/* Basic styling -----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: url('../images/bg1.jpg') no-repeat center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}


.content {
    position: relative;
    background-color: rgb(29, 29, 29);
    width: 70vw;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 9px 0 10px -6px rgba(0,0,0,0.55),
               -9px 0 10px -6px rgba(0,0,0,0.55);
    text-align: center;
    color: #fefefe;
}

/* Header  ----------------- */
#header {
    background-color: rgb(29, 29, 29);
    height: 60px;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

#date, #player {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
}

#date { 
    padding: 0 0 5px 30px;
}

#player {
    right: 0;
    padding: 0 30px 5px 0;
}

#name-input {
    background-color: rgba(99, 99, 99, 0.2);
    border: none;
    border-radius: 5px;
    color: #fefefe;
}

.btn-success {
    margin-top: 10px;
}

/* Game content and cards actions ------------------- */
#game-content {
    position: relative;
    height: 89vh;
    width: 94%;
    margin: 10px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    background: rgb(58,116,53);
    background: linear-gradient(90deg, rgba(36,71,33,0.5) 0%, rgba(58,116,51,1) 49%, rgba(36,71,33,0.5) 100%);
}

.card {
    display: flex;
    margin: 5px;
    height: calc(20% - 10px);
    width: calc(16.66% - 10px);
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(196,103,41,0.2);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:active {
    transform: scale(0.98);
    transition: transform 0.1s;
    background-color: rgba(200,200,200,0.27);
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(27, 58, 25, 0.5);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.bg_green {
    background-color: rgba(67,163,72,0.8);
}

.bg_red {
    background-color: rgba(209,59,59,0.8);
}

/* Footer ------------------- */
#footer {
    border-top: 1px solid rgba(255,255,255,0.5);
    font-size: 0.8rem;
    margin: 0;
}

#footer p {
    margin: 0;
}

/* Game announcements ------ */
#done-msg, #info-msg {
    font-size: 2rem;
    position: absolute;
    margin: auto;
    height: 250px;
    width: 500px;
    top: 31vh;
    left: 17vw;
    z-index: 10;
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
    padding-top: 40px;

}

#done-msg {
    display: none;
}
#info-msg {
    
    font-size: 1.2rem;
    height: 400px;
    top: 21vh;
    padding-left: 10px;
    padding-right: 10px;
   
}

#info-msg a {
    color: #dadada;
    text-decoration: none;
    
}